@page
@model Maelstrom.Areas.User.Pages.DashModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = $"{Model.CurrentSite.Name} -Dash-";
}
<div class="row">
    @*----Tank Toggler----*@
    <div class="col-lg-1">
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Select From List
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                @if (@Model.CurrentUserSites != null)
                {
                    <form method="get">
                        @foreach (var site in @Model.CurrentUserSites)
                        {
                            <input type="submit" asp-for="CurrentSite.Name" value="@site.Name" class="dropdown-item h5" />
                        }
                    </form>
                }
                <a asp-page="./SiteManager/create" class="btn btn-outline-success btn-sm ms-3">Create New</a>
            </ul>
        </div>
    </div>
    <div class="col-lg-10 border border-5 p-5">
        <div class="row shadow mb-5 mt-5 text-center">
            <h2 id="site-name">@Model.CurrentSite.Name</h2>
        </div>
        <div class="row">
            <div class="col col-xl-6">
                <div class="row">
                    <div class="text-center mt-1 mb-5">
                        @{
                            if (Model.SiteImage != null)
                            {
                                <img src=@Model.SiteImage class="shadow  border p-3 img-fluid" />
                            }
                            else
                            {
                                <img src="~/media/UserImages/default.jpg" class="shadow  border p-3 img-fluid" />
                            }
                        }
                    </div>
                    <div class="text-center">
                        <h3> @Model.CurrentSiteType Information</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover table-primary table-sm">
                            <thead>
                                <tr class="table-dark">
                                    <th scope="col">Location</th>
                                    <th scope="col">Capacity</th>
                                    <th scope="col">Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Model.CurrentSite.Location
                                    </td>
                                    <td>
                                        @Model.CurrentSite.Capacity Gallons
                                    </td>
                                    <td>
                                        @Model.CurrentSiteType
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class=" text-center mb-3">
                            <a asp-page="./SiteManager/Edit" asp-route-id="@Model.CurrentSite.SiteID"
                                class="btn btn-outline-warning">Edit info
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-xl-6">
                <div class="text-center">
                    <h3>Recent Test Results</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-primary text-center">
                        <thead>
                            <tr class="table-dark">
                                <th scope="col">@Html.DisplayNameFor(Model =>
                                    Model.CurrentSiteTestResults.FirstOrDefault().Ammonia)</th>
                                <th scope="col">@Html.DisplayNameFor(Model =>
                                    Model.CurrentSiteTestResults.FirstOrDefault().Calcium)</th>
                                <th scope="col">@Html.DisplayNameFor(Model =>
                                    Model.CurrentSiteTestResults.FirstOrDefault().Sality)</th>
                                <th scope="col">@Html.DisplayNameFor(Model =>
                                    Model.CurrentSiteTestResults.FirstOrDefault().Magnesium)</th>
                                <th scope="col">@Html.DisplayNameFor(Model =>
                                    Model.CurrentSiteTestResults.FirstOrDefault().Ph)</th>
                                <th scope="col">@Html.DisplayNameFor(Model =>
                                    Model.CurrentSiteTestResults.FirstOrDefault().Alkalinty)</th>
                                <th scope="col">@Html.DisplayNameFor(Model =>
                                    Model.CurrentSiteTestResults.FirstOrDefault().Nitrate)</th>
                                <th scope="col">@Html.DisplayNameFor(Model =>
                                    Model.CurrentSiteTestResults.FirstOrDefault().Nitrite)</th>
                                <th scope="col">@Html.DisplayNameFor(Model =>
                                    Model.CurrentSiteTestResults.FirstOrDefault().Temperature)</th>
                                <th scope="col">@Html.DisplayNameFor(Model =>
                                    Model.CurrentSiteTestResults.FirstOrDefault().CreationDate)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.CurrentSiteTestResults.Any() == true)
                            {
                                int count = 0;
                                @foreach (var tr in Model.CurrentSiteTestResults)
                                {
                                    if (count < 5)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(td => tr.Ammonia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(td => tr.Calcium)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(td => tr.Sality)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(td => tr.Magnesium)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(td => tr.Ph)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(td => tr.Alkalinty)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(td => tr.Nitrate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(td => tr.Nitrite)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(td => tr.Temperature)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(td => tr.CreationDate)
                                            </td>
                                        </tr>
                                    }
                                    count += 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-center mb-3">
                    <a asp-page="./SiteManager/TestResults" asp-route-id="@Model.CurrentSite.SiteID"
                        class="btn btn-outline-primary mt-2">Show All Results</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>