@page
@model Maelstrom.UserHomeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    Layout = "_Layout";
}

@*----Notes----*@
@*<P>
    -backend-
    to be completed:
    1)redirect to login if AppUser is null
    2) Links
    3) Maintainance Table
    4) image service
</P>
<p>
    -frontend-
    1)Javescript/Jquery for charts
    1)Javescript/Jquery for range table selection
</p>*@




@*----Tank Toggler----*@

@if(@Model.CurrentUserSites != null)
{
    //needs to be styled
    <form method="get">
        @foreach (var site in @Model.CurrentUserSites)
        {
            <input type="radio" asp-for="CurrentSite.Name" value="@site.Name" />

            @site.Name

            <br />
        }
        <input type="submit" />
    </form>
}

 



   <div class="float-start">

  
    <h2 id="site-name">@Model.CurrentSite.Name</h2>
        <div id="img-aquarium-div">
            <img src="~/media/UserImages/aquarium.jpeg" id="img-aquarium" />
        </div>

    <div id="more-buttons-div">
        <button type="button" class="btn btn-primary btn-lg">LOG TEST RESULTS</button>
        <button type="button" class="btn btn-primary btn-lg">LOG A WATER CHANGE</button>
        <button type="button" class="btn btn-primary btn-lg">ADD CHEMICALS</button>
    </div>

    <div id="button-edit-div">
        <button type="button" class="btn btn-warning">EDIT SITE</button>
    </div>

    <div class="table-div">
        <table class="table table-hover table-primary table-sm">
            <thead>
                <tr class="table-dark">

                    <th scope="col">Location</th>
                    <th scope="col">Type</th>
                    <th scope="col">Capacity</th>

                </tr>
            </thead>
            <tbody>
               <tr>
                   <td>
                       @Model.CurrentSite.Location
                   </td>
              
                    <td>
                        @Model.CurrentSiteType
                    </td>
                    <td>
                        @Model.CurrentSite.Capacity Gallons
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

@*We need to discuss what the "Water change" & "Add Chemicals" logic will look like... this might be complicataed mathematically *@

    

    <div id="img-testlog-div">
        <img src="~/media/testlog.jpg" />
    </div>
    <div class="btn-grp-div">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio1">7D</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio2">1M</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio3">3M</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio4">1Y</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio5">ALL</label>
        </div>
    </div>


    @*Test Results will need a selector for viewing only the last (x-number) of recents*@
    <h3 id="recent-results-heading">Recent Test Results</h3>
    <div class="table-div">
        <table class="table table-hover table-primary">
            <thead>
                <tr class="table-dark">

                    @*date time needs to be entered into database*@
                    
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Ammonia)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Calcium)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Sality)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Magnesium)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Ph)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Alkalinty)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Nitrate)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Nitrite)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Temperature)</th>
             
              
                </tr>
            </thead>
            <tbody>

                @*Null values still need to be handled*@

            @if(Model.CurrentSiteTestResults != null)
            {
                @foreach (var tr in Model.CurrentSiteTestResults)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(td => tr.Ammonia)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Calcium)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Sality)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Magnesium)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Ph)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Alkalinty)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Nitrate)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Nitrite)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Temperature)
                        </td>
                    </tr>
                }
                
            }
                  
            </tbody>
        </table>
    </div>

    <div id="more-buttons-div">
        <button type="button" class="btn btn-primary btn-lg">SEE ALL RECORDS</button>
    </div>

    @*
        "Maintanance" log needs to be implimented in the Data Base
    *@
    <h3 id="recent-results-heading">--NOT YET WORKING-- Recent Maintenance Tasks </h3>
    <div class="table-div">
        <table class="table table-hover table-primary">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-primary">
                    <th scope="row">2/28/2023</th>
                    <td>Partial Water Change</td>
                    <td>50%</td>
                    <td>Water was cloudy</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">2/12/2023</th>
                    <td>Chemical Additive</td>
                    <td>6.5 grams</td>
                    <td>Alkalinity Booster</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">3/15/2023</th>
                    <td>Partial Water Change</td>
                    <td>30%</td>
                    <td>Some algae growth</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="more-buttons-div">
        <button type="button" class="btn btn-primary btn-lg">SEE ALL RECORDS</button>
    </div>




