@page
@model Maelstrom.UserHomeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    Layout = "_Layout";
}

 <h1>@Model.Message</h1>
@if (Model.ThisAppUser != null && Model.ThisUsersSites != null)
{
    <div class="table-div col-1 table-sm float-start">
        <table class="table table-hover table-primary">
            <thead>
                <tr class="table-dark">


                    <th scope="col">Select Tank</th>
          
                </tr>
            </thead>
            <tbody>
                @foreach(var s in Model.ThisUsersSites)
                {
                    <tr class="table-primary">
                        <td>@s.Name</td>
                    </tr>
                
                }
            </tbody>
        </table>
    </div>
    }
else
{
    <p> Please log in to see this page. (This will just be an auto redirect in future)</p>
}

   @* Sample UI below*@


   <div class="float-start">

  
    <h2 id="site-name">@Model.CurrentSite.Name</h2>
        <div id="img-aquarium-div">
            <img src="~/media/aquarium.jpeg" id="img-aquarium" />
        </div>

    <div id="more-buttons-div">
        <button type="button" class="btn btn-primary btn-lg">LOG TEST RESULTS</button>
        <button type="button" class="btn btn-primary btn-lg">LOG A WATER CHANGE</button>
        <button type="button" class="btn btn-primary btn-lg">ADD CHEMICALS</button>
    </div>

    <div id="button-edit-div">
        <button type="button" class="btn btn-warning">EDIT SITE</button>
    </div>

    <div class="table-div">
        <table class="table table-hover table-primary table-sm">
            <thead>
                <tr class="table-dark">

                    <th scope="col">Location</th>
                    <th scope="col">Type</th>
                    <th scope="col">Capacity</th>

                </tr>
            </thead>
            <tbody>
               <tr>
                   <td>
                       @Model.CurrentSite.Location
                   </td>
              
                    <td>
                        @Model.CurrentSiteType
                    </td>
                    <td>
                        @Model.CurrentSite.Capacity Gallons
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

@*We need to discuss what the "Water change" & "Add Chemicals" logic will look like... this might be complicataed mathematically *@

    

    <div id="img-testlog-div">
        <img src="~/media/testlog.jpg" />
    </div>
    <div class="btn-grp-div">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio1">7D</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio2">1M</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio3">3M</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio4">1Y</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" checked="">
            <label class="btn btn-outline-primary" for="btnradio5">ALL</label>
        </div>
    </div>

    <h3 id="recent-results-heading">Recent Test Results</h3>
    <div class="table-div">
        <table class="table table-hover table-primary">
            <thead>
                <tr class="table-dark">
                    @*date time needs to be entered into database*@
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Ammonia)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Calcium)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Sality)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Magnesium)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Ph)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Alkalinty)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Nitrate)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Nitrite)</th>
                    <th scope="col">@Html.DisplayNameFor(Model => Model.CurrentSiteTestResults.FirstOrDefault().Temperature)</th>
             
              
                </tr>
            </thead>
            <tbody>

                @*for each testResultValue in model.thisUsersTestResults*@

            @foreach(var tr in Model.CurrentSiteTestResults)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(td => tr.Ammonia)
                    </td>
                    <td>
                        @Html.DisplayFor(td => tr.Calcium)
                    </td>
                    <td>
                        @Html.DisplayFor(td => tr.Sality)
                    </td>
                    <td>
                        @Html.DisplayFor(td => tr.Magnesium)
                    </td>
                    <td>
                        @Html.DisplayFor(td => tr.Ph)
                    </td>
                    <td>
                        @Html.DisplayFor(td => tr.Alkalinty)
                    </td>
                    <td>
                        @Html.DisplayFor(td => tr.Nitrate)
                    </td>
                    <td>
                        @Html.DisplayFor(td => tr.Nitrite)
                    </td>
                    <td>
                        @Html.DisplayFor(td => tr.Temperature)
                    </td>
                </tr>
            }

               @* <tr class="table-primary">
                    <th scope="row">3/29/2023</th>
                    <td>40</td>
                    <td>7.1</td>
                    <td>95</td>
                    <td>215</td>
                    <td>0</td>
                    <td>0</td>
                    <td>20</td>
                    <td>2</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">3/22/2023</th>
                    <td>45</td>
                    <td>7.2</td>
                    <td>95</td>
                    <td>210</td>
                    <td>0</td>
                    <td>0</td>
                    <td>20</td>
                    <td>1.5</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">3/15/2023</th>
                    <td>50</td>
                    <td>7.3</td>
                    <td>90</td>
                    <td>210</td>
                    <td>0</td>
                    <td>0</td>
                    <td>15</td>
                    <td>1.5</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">3/8/2023</th>
                    <td>55</td>
                    <td>7.4</td>
                    <td>90</td>
                    <td>205</td>
                    <td>0</td>
                    <td>0</td>
                    <td>10</td>
                    <td>1</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">3/1/2023</th>
                    <td>60</td>
                    <td>7.5</td>
                    <td>90</td>
                    <td>205</td>
                    <td>0</td>
                    <td>0</td>
                    <td>10</td>
                    <td>1</td>
                </tr>*@
            </tbody>
        </table>
    </div>

    <div id="more-buttons-div">
        <button type="button" class="btn btn-primary btn-lg">SEE ALL RECORDS</button>
    </div>

    @*
        "Maintanance" log needs to be implimented in the Data Base
    *@
    <h3 id="recent-results-heading">Recent Maintenance Tasks </h3>
    <div class="table-div">
        <table class="table table-hover table-primary">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-primary">
                    <th scope="row">2/28/2023</th>
                    <td>Partial Water Change</td>
                    <td>50%</td>
                    <td>Water was cloudy</td>
                </tr>
                <tr class="table-secondary">
                    <th scope="row">2/12/2023</th>
                    <td>Chemical Additive</td>
                    <td>6.5 grams</td>
                    <td>Alkalinity Booster</td>
                </tr>
                <tr class="table-primary">
                    <th scope="row">3/15/2023</th>
                    <td>Partial Water Change</td>
                    <td>30%</td>
                    <td>Some algae growth</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="more-buttons-div">
        <button type="button" class="btn btn-primary btn-lg">SEE ALL RECORDS</button>
    </div>




