@page
@model Maelstrom.Areas.User.Pages.SiteManager.IndexModel
@{
    Layout = "_Layout";
}

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top:2rem">

    @foreach(var item in Model.CurrentUserSites)
    {
        <div class="col">
            <div class="card">

                @if (@Model.ImageDictionary[item.SiteID] != String.Empty)
                {
                    <img src=@Model.ImageDictionary[item.SiteID] class="card-img-top" alt="DB Image">
                }
                else
                {
                    <img src="~/media/UserImages/default.jpg" class="card-img-top" alt="Default Image">
                }
                <div class="card-body" style="background-color:powderblue; ocu">
                    <h5 class="card-title shadow p-3 mb-1 bg-body rounded text-center">@item.Name</h5>
                </div>
                    <table class="table table-striped table-hover"style="margin-bottom:0px">
                        <th>
                            Capacity
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Location
                        </th>
                        <tbody>
                        <tr>
                                <td>@item.Capacity</td>
                                <td>@Model.SiteTypeDictionary[item.SiteTypeID]</td>
                                <td>@item.Location</td>
                            </tr>

                    </table>

                @*having issues with styling whern published: .bg-body {
            --bs-bg-opacity: 1;
            background-color: rgba(var(--bs-body-rgb),var(--bs-bg-opacity)) !important;
            }*@

                <div class="card-body text-center" style="background-color:powderblue">
                    
                    <a asp-page="./Edit" asp-route-id="@item.SiteID" class="btn btn-lg btn-outline-primary">Edit</a>
                    <a asp-page="./TestResults" asp-route-id="@item.SiteID" class="btn btn-lg btn-outline-warning">Details and Results</a>
                    <a asp-page="./Delete" asp-route-id="@item.SiteID" class="btn btn-lg btn-outline-danger">Delete</a>
                    
                </div>
            </div>
        </div>
    }
</div>


















