@page
@model Maelstrom.Areas.User.Pages.SiteManager.TestResultsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = @Model.Site.Name;
    Layout = "_Layout";
}
<div class="row" style=" background-color:floralwhite">
    <div class="container-fluid shadow mb-3">
    <h1 style="text-align:center">@Model.Site.Name</h1>
    </div>
    <div class="container shadow">
    <div class="row mt-4 mb-4">
    <div class=" image-fluid col">
        <div>
            @{
                if (Model.SiteImage != null)
                {
                    <img src=@Model.SiteImage class="w-100"  />

                }
                else
                {
                            <img src="~/media/UserImages/default.jpg" class="w-100" />
                }
            }
        </div>
       </div>
       <div class="col">
           <div class="container-fluid"> 
            <dt class="col-3">Capacity</dt>
            <dd class="col-3">@Model.Site.Capacity</dd>

            <dt class="col-3">Type</dt>
            <dd class="col-3"> TBC </dd>
            <dt class="col-3">Location</dt>
            <dd class="col-3"> @Model.Site.Location </dd>
            </div>
       </div>
    </div>
</div>
</div>

<div class="row" style=" background-color:floralwhite">
    <div class="container shadow mt-4 mb-4" >

    <div class="text-center">
<h3>Test Results</h3>
</div>
<div class="table-responsive">


    <table class="table table-hover table-primary">
        <thead>
            <tr class="table-dark">

                @*date time needs to be entered into database*@

                <th scope="col">@Html.DisplayNameFor(Model => Model.TestResults.FirstOrDefault().Ammonia)</th>
                <th scope="col">@Html.DisplayNameFor(Model => Model.TestResults.FirstOrDefault().Calcium)</th>
                <th scope="col">@Html.DisplayNameFor(Model => Model.TestResults.FirstOrDefault().Sality)</th>
                <th scope="col">@Html.DisplayNameFor(Model => Model.TestResults.FirstOrDefault().Magnesium)</th>
                <th scope="col">@Html.DisplayNameFor(Model => Model.TestResults.FirstOrDefault().Ph)</th>
                <th scope="col">@Html.DisplayNameFor(Model => Model.TestResults.FirstOrDefault().Alkalinty)</th>
                <th scope="col">@Html.DisplayNameFor(Model => Model.TestResults.FirstOrDefault().Nitrate)</th>
                <th scope="col">@Html.DisplayNameFor(Model => Model.TestResults.FirstOrDefault().Nitrite)</th>
                <th scope="col">@Html.DisplayNameFor(Model => Model.TestResults.FirstOrDefault().Temperature)</th>


            </tr>
        </thead>
        <tbody>
            @if (Model.TestResults != null)
            {
                @foreach (var tr in Model.TestResults)
                {
                   
                    <tr>
                        <td>
                            @Html.DisplayFor(td => tr.Ammonia)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Calcium)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Sality)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Magnesium)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Ph)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Alkalinty)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Nitrate)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Nitrite)
                        </td>
                        <td>
                            @Html.DisplayFor(td => tr.Temperature)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>
</div>
</div>
